
.portfolio {
    width: 100%;
    margin: 100px 0;
}

.portfolio .Januari {
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 48px;
    border-radius: 4px;
}

.portfolio .Februari {
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 48px;
    border-radius: 4px;
}

.portfolio .Mars {
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 48px;
    border-radius: 4px;
}

.portfolio .April  {
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 48px;
    border-radius: 4px;
    
}

.portfolio .Maj  {
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 48px;
    border-radius: 4px;
    
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    animation: slide-animation 12s infinite;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    vertical-align: middle;
}

.carousel-slide p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 18px;
}

/* Animationen för att skapa rullande karusell */
@keyframes slide-animation {
    0% { transform: translateX(0); }
    33% { transform: translateX(0); }
    38% { transform: translateX(-100%); }
    66% { transform: translateX(-100%); }
    71% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}